.flightForm {
    border-radius: 16px;
    background: var(--Neutrals, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
    position: absolute;
    left: 140px;
    bottom: -170px;
    width: 1232px;
    padding: 32px 24px 48px 24px;
    gap: 32px;
}
.flightForm h4 {
    color: var(--Blackish-Green, #121);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.flightForm fieldset {
    padding: 4px 0px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    height: 56px;
}
.flightForm fieldset legend {
    color: var(--Blackish-Green, #121);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.flightFrom__wrapper {
    margin-top: 40px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 324px 140px 324px 324px;
    gap: 24px;
}
.flightFrom__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
.flightFrom__bottom button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--Blackish-Green, #121);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.flightFrom__bottom button:nth-of-type(1) {
    background-color: transparent;
    border: none;
}
.flightFrom__bottom button:nth-of-type(2) {
    display: flex;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: var(--Mint-Green, #8DD3BB);
    padding: 8 16px;
    border: none;
}